html
  head
    title Welcome
  body
    div.content#main
      div.strong
        strong #{title}
      div.a
        //- 指定标签的属性
        a(href='#{nodeUrl}', target='_blank')
      div.form
        strong Select your favorite food:
        form
          select
            //- 指定标签的内容
            option(value='Cheese') Cheese
            option(value='Tofu', selected) Tofu
      //- 使用快扩展
      div.ul
        ul
          li: a(href='http://nodejs.org') Node.js homepage
          li: a(href='http://npmjs.org') Npm homepage
          li: a(href='http://nodejsbits.org') Nodebits blog
      div.cycle
        //- 遍历数组
        - for message in messages
          p= message
        -
      each value, key in post
        //- 遍历对象
        div 
          strong #{key}
          p value
      - var n = 1;
      if (n == 1)
          .text xx
      case results.length
        when 0
          p No results found.
        when 1
          p= results[0].content
        default
          each result in results 
            p= result.title


